.App {
  /* text-align: center; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap:10px;
}

.counter-container{
  border: 1px solid red;
  padding: 1rem;
  width: 40%;
}




