.strike{
    text-decoration: line-through;
}

.normal{
    text-decoration: normal;
}
span{
    display: inline-block;
}
input.todo_CheckBox{
    width: 35px;
    height: 80px;
    margin-right: 30px;
    margin-left: 40px;
    
}
.todoItem{
    width: 70%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    font-size: 2em;
    border: 1px solid rgb(148, 143, 143);
    align-items: center;
    text-transform: uppercase;
    border-radius: 50px;
    background-color: white;    
}
.todo_input_container{
    /* border:1px solid red; */
    margin-top: 30px;
    height: 50px;
}
.todo_input{
    height: 100%;
    margin-right: 10px;
    font-size: 2em;
    padding-left: 1%;
    font-weight: 900;
    color: #8b1212;
    box-sizing: border-box;
    
}
.todo_input::placeholder{
    color: rgb(52, 48, 48);
}
.todo_input_button{
   font-size: 38px;
   width:4%;
}